{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Green Orchard</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Sell Plants For Your Home</h2>
          <img src="assets/img/about.jpg" alt="">
          <p class="mt-4" style = "font-size: 20px; font-weight: bolder">We believe that Green is Good and are here to enable Indians to access plants in the easiest way possible – online! We are here to shape the future of gardening!
            If you’re new to being a plant parent, we’re here to make it easier. Our garden experts can provide you with guidance for detailed care every step of the way.
            Having served a network of 1 million happy plant parents, we can assure you that once you order a plant from us, you will emerge with your own home-grown veggies!

We believe that every space can be made more beautiful with plants! Come, join us in our vision to make all spaces green and healthy! 
            <br>
            How we work

Add a touch of green to your home/office in three simple steps and become a plant parent

Plants, simplified: Order plants ready to be placed in your home, office or garden. Just Unpack, Relax and Enjoy your green buddies
Secure Shipping: Our unique packaging will hold the plants in place and let the plant breathe so that it reaches you fresh without any mess.
Detailed Guidance: Get detailed plant care instructions from the website as well as real-time guidance from our Garden Experts on Whatsapp
          </p>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Products</a>
  </section>

 

{% endblock %}